<div class="page-container about">
	<section class="container">
		<div class="block">
			<div class="centered">
				<hgroup class="myself">
			        <h1>Hi, I’m Matthew.</h1>
			        <h2>I design & develop</h2>
			        <h3>for <span>ecneirepxe</span>.</h3>
			    </hgroup>
	    	</div>
    	</div>
	</section>
	<div class="wrapper-1">
  	</div>
  	<div class="wrapper-2">
  	</div>
</div>
</div>