<nav class="routes blank">

  <h1 class="navi-icon blank"><%= link_to '<span>/</span>'.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => '' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => 'active' do %>about<span></span><% end %>
    </li>
    <li>
      
    </li>
  </ul>
</nav>
<div class="page-container about">
  <div class="container">
    <div class="block">
      <div class="centered text-major">
        <h1>Putting</h1><br>
        <h1>in my</h1><br>
        <h1 class="countdown">10,000</h1><span>/HRS</span>
      </div>
    </div>   
  </div>

   <section class="full redbleed">
 <div class="resume">
        <h1>Matthew Harwood</h1>
        <h2>Multidisciplinary Designer + Developer</h2>
        <h3>Experience</h3>
        <h4>Qomo Hitevision</h4>
        <h5>Marketing &amp; Development</h5>
        <p>
          qomo creates interactive technology equipment for educational needs. Responsibilities included: reachin gout to businesses, educational institutions and governmental establishments by creating comprehensive marketing materials through, web, print, and video.
        </p>


        <h4>Qomo Hitevision</h4>
        <h5>Developer &amp; Design Strategist</h5>
        <p>
          Worked collaboratively in a team of six to produce a charitable clothing company start-up, whose vision was to help underprivileged children play sports.  Responsibilities included: design strategy, layout design, frontend and backend development in ruby on Rails
        </p>
        <div class="edu">
          <h3>Education</h3>
          <h4 >Simon Fraser University</h4>
          <h5 class="red">B.S. Interactive Systems + Design</h5>
          <p>
            Program focus is in interaction Design while synthesizing and incorporating other disciplines such as Graphic Design, Industrial Design, Architecture and Urbanism.
          </p>


          <h4>Oakland Community College</h4>
          <h5 class="red">Liberal arts</h5>
          <p>
            Program focus is in the general area of studies: philosophy, mathematics, literature, arts, history, economics, and language
          </p>
        </div>
      </div>
    </section>
    <section class="full halfbleed">
    <hgroup class="reverse">

      <h1>Hi, I’m Matthew.</h1>
      <h2>I design & develop</h2>
      <h3>for <span class="hover-spell">experience</span>.</h3> 
    </hgroup>
    <hgroup class="myself">
      <h1>Hi, I’m Matthew.</h1>
      <h2>I design & develop</h2>
      <h3>for <span class="hover-spell">ecneirepxe</span>.</h3>
    </hgroup> 
 

    </section>
    <section class="full whitebleed">
      

    </section>

</div>