<nav class="routes blank">

  <h1 class="navi-icon blank"><%= link_to '<svg version="1.1"  class="project-icon-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="72px" height="72px" viewBox="0 0 120 121.469" enable-background="new 0 0 120 121.469" xml:space="preserve">
                                <g>
                                    <path fill="#fff" d="M74.599,94.567h-8.239V75.148H55.484v19.419h-8.241V50.278h8.241v17.601h10.875V50.278h8.239V94.567z"/>
                                </g>
                                <path fill="#fff" d="M60.786,26.586c-7.597,0-13.756,6.159-13.756,13.756h27.513C74.543,32.745,68.384,26.586,60.786,26.586z"/>
                                <path class="sleep-head" fill="#fff" d="M65.762,40.343c-0.035-2.721-2.245-4.918-4.976-4.918c-2.729,0-4.94,2.197-4.976,4.918H65.762z"/>
                            </svg>'.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => '' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => 'active' do %>about<span></span><% end %>
    </li>
    <li>
      <%= link_to 'contact', :class => '' do %>contact<span></span><% end %>
    </li>
  </ul>
</nav>
<div class="page-container about">
	<div class="bg about-hero">
		<p class="top-title">About</p>
			
		<hgroup class="myself">
			<h1>Hi, I’m Matthew.</h1>
			<h2>I design & develop</h2>
			<h3>for <span class="hover-spell">ecneirepxe</span>.</h3>
		</hgroup> 
	  	<hgroup class="reverse">
			<h1>Hi, I’m Matthew.</h1>
			<h2>I design & develop</h2>
			<h3>for <span class="hover-spell">experience</span>.</h3>	

		</hgroup> 
	</div>
	<div class="bg">
	</div>
	<div class="bg inverse">
	  <hgroup class="spending-time">
			<h1>Putting</h1>
			<h2>in my</h2>
			<h3>10,000<span>/hrs</span></h3>
	  </hgroup>
	  
	</div>
	<div class="bg footer">
		<div class="container">
		<h1>contact</h1>
		</div>
	</div>

</div>