<div class="page-container about">
	<div class="bg">


		<hgroup class="myself">
			<h1>Hi, I’m Matthew.</h1>
			<h2>I design & develop</h2>
			<h3>for <span class="hover-spell">ecneirepxe</span>.</h3>
		</hgroup> 
	  
	</div>
	<div class="bg inverse">
	  
	  
	</div>

</div>