<nav class="routes blank">

  <h1 class="navi-icon blank"><%= link_to ''.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => '' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => 'active' do %>about<span></span><% end %>
    </li>
    <li>
      <%= link_to 'contact', :class => '' do %>contact<span></span><% end %>
    </li>
  </ul>
</nav>
<div class="page-container about">
	<div class="bg about-hero">
		<p class="top-title">About</p>
			
		<hgroup class="myself">
			<h1>Hi, I’m Matthew.</h1>
			<h2>I design & develop</h2>
			<h3>for <span class="hover-spell">ecneirepxe</span>.</h3>
		</hgroup> 
	  	<hgroup class="reverse">
			<h1>Hi, I’m Matthew.</h1>
			<h2>I design & develop</h2>
			<h3>for <span class="hover-spell">experience</span>.</h3>	

		</hgroup> 
	</div>
	<div class="bg">
	</div>
	<div class="bg inverse">
	  <hgroup class="spending-time">
			<h1>Putting</h1>
			<h2>in my</h2>
			<h3>10,000<span>/hrs</span></h3>
	  </hgroup>
	  
	</div>
	<div class="bg footer">
		<div class="container">
		<h1>contact</h1>
		</div>
	</div>

</div>