<nav class="routes blank">

  <h1 class="navi-icon blank"><%= link_to '<span>/</span>'.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => '' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => 'active' do %>about<span></span><% end %>
    </li>
    <li>
      <%#= link_to 'contact', :class => '' do %>contact<span></span><% end %>
    </li>
  </ul>
</nav>
<div class="page-container about">
  <div class="container">
    <div class="block">
      <div class="centered text-major">
        <h1>Putting</h1><br>
        <h1>in my</h1><br>
        <h1>10,000<span>/HRS</span></h1>
      </div>
    </div>   
  </div>

   <section class="full redbleed">
      

    </section>
    <section class="full halfbleed">
    <hgroup class="reverse">
      <h1>Hi, I’m Matthew.</h1>
      <h2>I design & develop</h2>
      <h3>for <span class="hover-spell">experience</span>.</h3> 
    </hgroup>
    <hgroup class="myself">
      <h1>Hi, I’m Matthew.</h1>
      <h2>I design & develop</h2>
      <h3>for <span class="hover-spell">ecneirepxe</span>.</h3>
    </hgroup> 
 

    </section>
    <section class="full whitebleed">
      

    </section>

</div>