
<div class="page-container home">
	<section class="container">
		<div class="block">
			<div class="centered">
				<hgroup class="intro">
			        <h2>Welcome to,</h2>
			        <h1>MORNING HARWOOD.</h1>
			    </hgroup>

			 
			      <hr class="forty-five">
			    

		        <nav class="intro-control">
		        	<h3>A digital space about:</h3>
			        <ul>
			        	<%= link_to "<li><span></span><b>work</b><i></i></li>".html_safe, works_path %>
			        	
			        	<%= link_to "<li><span></span><b>me</b><i></i></li>".html_safe, about_path %>
			        </ul>
		    	</nav>
	    	</div>
    	</div>
	</section>
</div>