
.about
  {
    height: 100%;
    background: url("coffee.JPG") center center;
    background-attachment:fixed;
    background-size: cover;
    font-size: 110px;
    font-family: Oswald;
    
    
    
  }

.text-major
  {

    border-top: 50px #fff solid;
    border-bottom: 50px #fff solid;
    width: 50%;
    height: 800px;

    h1
      {
        margin: 0; padding:0; line-height: 1;
        text-transform: uppercase;
        color:#fff;
        display: inline;


      } 

  span
      {
        position: absolute;
        font-size: 4rem;
        bottom: 2%;
        color: #fff;
      }
  }

.full
  {
    height: 100%;
      background-size: 100% 100%;
  }
.resume
  {
    position: absolute;
    top: 144px;
    left: 110px;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    width: 38%;
    z-index: 9999;
    color: #333;

    h2, h5 
      {
        background: #fff;
        display: inline;

      
      }
    h1
      {
        font-size: 72px;
        margin: 0;
        line-height: 1;
        color:#fff;
      }

    h2
      {
        margin: 0;
      
      &:before
        {
          content: " ";
          bottom: -36px;
          left: 0;
          width: 120px;
          height: 1px;
          background: $black;
          position: absolute;
        }
      }

    h3
      {
        margin-top: 72px 0;
        font-size: 24px;
        color:#fff;
        &:before
          {
            content: " ";
            bottom: -16px;
            left: 0;
            width: 36px;
            height: 1px;
            background: #fff;
            position: absolute;
          }
      }

    h4
      {
        font-size:16px;
        margin: 4px 0;
        color:#fff;
      }

    h5
      {
        font-size: 16px;
      }

    p
      {
        text-align: justify;
        padding-right: 24px;
        margin-bottom: 72px;
        color:#fff;
      }
    .past-exp
      {
        margin-top: 72px;
      }
    .work-exp
      {
        
      }
    .edu
      {
        margin-top: 36px;
        h1, h2, h4,p 
          {
            background: #fff;
            display: inline;
            color:#333;
          
          }
        h5
          {
            background: $red;
            display: inline;
            color:#fff;
          }
      }
    .edu-exp
      {
        margin-top:72px;
      }
    .pop16
      {
        margin-top: 16px;
      }
    .pop4
      {
        margin-top: 4px;
      }
  }

.redbleed
  {
    background: $black;
    z-index: 102;
  }

.halfbleed
  {
    background: 
            linear-gradient(31deg, #fff 50%, $black 50%) no-repeat  0 0;
            z-index: 101;
  }

.whitebleed
  {
    background: #fff;
    z-index: 100;
    padding: 10% 0;
  }

.myself
	{
		padding: 6rem;

		h1,h2,h3{font-family: 'Merriweather', serif; margin: 0; font-size: 4.5rem; color: $black;}
	}

  .reverse
    {
      padding: 6rem 6rem 21rem 6rem;
      
      h1,h2,h3{
        font-family: 'Merriweather', serif; margin: 0; font-size: 4.5rem; color: #fff;
        text-align: left;
        direction: rtl; 
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        unicode-bidi: bidi-override;
      }
      h3 span
        {
          border-bottom: 1px dotted #fff;
        }

      h3:hover span 
        {
          text-align: right;
          direction: ltr; 
          unicode-bidi: bidi-override;
          display: inline-block;
          cursor: pointer;
        }


    }



.hover-spell
  {
    cursor: pointer;
    border-bottom: 1px dotted $black;
    transition: all 0.5s ease;
  }

.hover-spell:hover
  {
    direction: rtl; 
    unicode-bidi: bidi-override;
  }

.form-textbox
      {
        width: 100% !important;
      }