
.about
  {
    height: 100%;
    background: url("http://placekitten.com/g/1900/1200") center center;
    background-attachment:fixed;
    background-size: cover;
    font-size: 110px;
    font-family: Oswald;
    

    
  }

.text-major
  {

    border-top: 50px #fff solid;
    border-bottom: 50px #fff solid;
    width: 50%;
    height: 72%;

    h1
      {
        margin: 0; padding:0; line-height: 1;
        text-transform: uppercase;
        color:#fff;
        display: inline;


      } 

    span
      {
        position: absolute;
        font-size: 4rem;
        bottom: 18%;
      }
  }

.full
  {
    height: 100%;
      background-size: 100% 100%;
  }

.redbleed
  {
    background: $red;
    z-index: 100;
  }

.halfbleed
  {
    background: 
            linear-gradient(31deg, #fff 50%, $red 50%) no-repeat  0 0;
            z-index: 101;
  }
.whitebleed
  {
    background: #fff;
    z-index: 100;
  }
.myself
	{
		padding: 6rem;

		h1,h2,h3{font-family: 'Merriweather', serif; margin: 0; font-size: 4.5rem; color: $red;}
	}

  .reverse
    {
      padding: 6rem 6rem 21rem 6rem;
      
      h1,h2,h3{
        font-family: 'Merriweather', serif; margin: 0; font-size: 4.5rem; color: #fff;
        text-align: left;
        direction: rtl; 
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        unicode-bidi: bidi-override;
      }
      h3 span
        {
          border-bottom: 1px dotted #fff;
        }

      h3:hover span 
        {
          text-align: right;
          direction: ltr; 
          unicode-bidi: bidi-override;
          display: inline-block;
          cursor: pointer;
        }


    }



.hover-spell
  {
    cursor: pointer;
    border-bottom: 1px dotted $red;
    transition: all 0.5s ease;
  }

.hover-spell:hover
  {
    direction: rtl; 
    unicode-bidi: bidi-override;
  }

.spending-time
  {
    text-align: right;
    padding: 0 7.5rem 0 0;
    top: -30rem;
    
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    h1, h2, h3
     {
        margin:0;
        line-height:1;
        font-size: 10rem;
     }

     h2
      {
        font-size: 15.45rem;
      }

    h3
      {
        font-size: 10.15rem;
      }

    span
      {
        font-size: 3rem;
        font-style: italic;
      }
  }
