@media only screen 
and (max-width : 1780px) {

	.featured-info
		{

			h1
				{
					font-size: 5.25rem;
				}
			p
				{
					font-size: 1.35rem;
					line-height: 2.25rem;

				}
		}
		//show

	.modal-info
		{
			h1
				{
					font-size: 4.75rem;

				}

		}
}	

@media only screen 
and (max-width : 1600px) {
	.intro, .myself, .reverse
			{

			h1, h2, h3
				{

					font-size: 4.5rem; //72px

					
				}
			}

	.featured-info
			{

				h1
					{
						font-size: 4rem;
					}
				p
					{
						font-size: 1.25rem;
						line-height: 2.15rem;

					}
			}

	//show

	.modal-info
		{
			h1
				{
					font-size: 3.5rem;

				}

			h2
				{
					font-size: 1.25rem;
					line-height: 2.15rem;
				}
		}
//about
	.resume
	  	{

		    width: 46%;

		}

//show
	
	.main
	
		{

		figcaption
			{
				margin:0;
				padding:0;

			h3, p{padding-left:2.25rem;}

			}
		}
}

@media only screen 
and (max-width : 1441px) {
//about
	.intro, .myself, .reverse
		{

		h1, h2, h3
			{
				font-size: 3.5rem; //72px		
			}
		}
	.about
		{
			font-size: 72px;
		}
	.resume
	  	{

		    width: 46%;
			h1
				{
					font-size:62px;
				}
		}

}
@media only screen 
and (max-width : 1281px) {
	.container
		{
			position: relative;
			margin: 0 1cm;
			height: 100%;
			min-height: 480px;
		}
	.wrapper
	    {
	    	
	    	margin: 0 0 0 4.5rem;
	    	height: 100%;
	    	min-height: 480px;
	  	}

	.intro, .myself, .reverse
		{


		h1, h2, h3
			{
				font-size: 4.5rem; //72px		
			}
		}

	.intro-control
		{
			.font-size: 1.5rem; //24px
		}

	//routes
	.routes
		{
			font-size: .875rem;
			padding: 0 1.5rem;

			.navi-icon
				{
					bottom: -.875rem;
					width: 3.5rem;

				 span 
				 	{
						font-size: 32px;
						top: 7px;
				 	}
				}
		}
	
	.meny
		{
			@extend .retro;
			overflow: auto;
			padding-top: 7.5rem;
			width: 33.33333333%;
			min-width: 320px;
			background: #fff;
			color: $black;
			h1
				{
					font-size: 3rem;
					margin: 0;
					font-style: italic;
				}
			h2
				{
					font-size: .875rem;
					margin: 0;
					font-style: italic;

				&:after
					{	
						content: " ";
						position: absolute;
						bottom:-1.5rem;
						height: 1px;
						width: 3rem;
						left:0;
						background-color: $black;

					}

				}

		
		}
	.meny-control
	  {
	  	
		font-size: 1rem;


		li
			{
				margin: .5rem 0;
				
			}

		
	  }
		
	.featured-info
		{

		h1
			{
				font-size: 3rem;
				margin: 0;
				text-transform: capitalize;
			}
		p
			{
				font-size: 1rem;
				line-height: 1.612rem;

			&:first-letter
				{
					text-transform: capitalize;
				}

			}

		a
			{
				position: absolute;
				right: -2.25rem;
				padding: 1rem 2.5rem;
				background: $red;
				color: #fff;
				font-weight: 700;
				text-decoration: none;
				font-size: 1rem;
			}

		}


	//show page

	.modal-info
		{
			h1
				{
					font-size: 3rem;

				}

			h2
				{
					font-size: 1rem;

					line-height: 1.612rem;


				&:after
					{
						content: " ";
						position: absolute;
						bottom:-1.25rem;
						left:0;
						width: 3rem;
						background: $black;
						height: 1px;
					}
				}
		}
		
	.modal-controls
		{

			width: 62px;
			height: 62px;

		&:after 
			{
				position: absolute;
				font-family: "Lucida Sans Unicode";
				right: 0;
				top: 0;
				width: 62px;
				height: 62px;
				color: #fff;
				font-size: 55px;
			}
		}

	.post
		{
			padding: 0rem 4.5rem 4.5rem 4.5rem;
		}

	//about
	.intro, .myself, .reverse
		{


		h1, h2, h3
			{
				
				font-size: 3rem; //48px
				
			}

		}

	.about
		{
			font-size: 72px;
		}
	.resume
	  	{
			font-size: .75rem;
		    width: 46%;
			h1
				{
					font-size:52px;
				}
		}

	.text-major
		{
			border-top: 32px #fff solid;
			border-bottom: 32px #fff solid;
			width: 48%;
			height: 547px;
		}
		//show
	.main
		{


			h1,h2,h3,h4,
				{
					padding:0;
					margin: 1rem 0;
				}

			p
				{
					
				margin:0;

				}
		}
}

@media only screen 
and (max-width : 1025px) {

//homepage

	.container
		{
			position: relative;
			margin: 0 1cm;
			height: 100%;
			min-height: 480px;
		}

	.intro, .myself, .reverse
		{


		h1, h2, h3
			{
				
				font-size: 3rem; //48px
				
			}

		}

	.intro-control
		{
			.font-size: 1.5rem; //24px

		h3
			{
				font-size: 2rem;
			}

		ul
			{

			li
				{
					width: 5rem;
					height:5rem;
					font-size: 1.5rem;
					-webkit-border-radius: 5rem; 
				  	-moz-border-radius: 5rem; 
				   	border-radius:5rem;
				   	line-height: 5rem;
				   	cursor: pointer;
				}

			}

		}

//workspage
	.wrapper
		{
			margin: 0;
		}

	.meny
		{
			display:none;
			visibility: hidden;
		}

	.featured-info
		{
			position: absolute;
			bottom: 0rem;
			right: 0;
			background: $black;
			color: #fff;
			font-style: italic;
			margin-right: 0; //72px
			padding: 2.25rem 4.5rem; //36px 72px
			text-align: center;
			width: 100%;
			max-width: none;
		h1
			{
				font-size: 3rem;
				margin: 0;
				text-transform: capitalize;

			}
		p
			{
				font-size: 1rem;
				line-height: 1.612rem;

			&:first-letter
				{
					text-transform: capitalize;
				}

			}

		a
			{
				position: absolute;
				left: 40%;
				top: -1.625rem;
				padding: .75rem;
				right: 40%;
			}

		}

	.preview
		{
			width:100%;
		}

	



	.modal-info
		{
			h1
				{
					font-size: 3rem;

				}

			h2
				{
					font-size: .875rem;

					line-height: 1.4105rem;


				&:after
					{
						content: " ";
						position: absolute;
						bottom:-1.25rem;
						left:0;
						width: 3rem;
						background: $black;
						height: 1px;
					}
				}
		}

	.post
		{
			padding: 0rem 2.25rem 2.25rem 2.25rem;
			h3
				{
					font-size: 1rem;
				}
			p
				{
					font-size: 0.875rem;
				}
		}

//show
	.main
		{
			width: 100%;

			header
				{
					padding: 2.25rem;
					top:0;
					
				}
			figcaption
				{
					margin:0;
					padding:0;
				h3
					{
						padding-top: 1rem
					}
				h3, p{padding-left:0rem;}
					
				&:before
					{
						top: -68px;
						left: -7px;
					}
				}

			h1,h2,h3,h4,
				{
					padding:0;
					margin: 1rem 0;
				}

			p
				{
					
					margin:0;
				&:first-letter
					{
						text-transform:capitalize;
					}
				}
		}
	.sidebar
		{
			display: none;
			visibility: hidden;
		}

//about
		.myself
			{
				padding: 4rem 1rem 0rem 1rem;
			}

		.reverse
			{
				padding: 6rem 1rem 10rem 1rem;
			}
	
		.about
			{
				font-size: 52px;
			}

		.resume
		  	{

			    top: 72px;
				left: 72px;

				h1
					{
						font-size:42px;
					}
				h3
					{
						margin-top: 72px;
						margin-bottom: 72px;

					}
				.edu
					{
						padding: 0 136px 0 0;
					}
			}

		.text-major
			{
				border-top: 32px #fff solid;
				border-bottom: 32px #fff solid;
				width: 48%;
				height: 397px;
			}
}

@media only screen 
and (max-width : 800px){
	.full
		{
			height: auto;
		}
	.about
			{
				font-size: 28px;
			}

		.resume
		  	{
				width:100%;
			    top: 0;
				left: 0;
				padding: 36px;
				position: relative;
				
				h1
					{
						font-size:42px;
					}
				h3
					{
						margin-top: 72px;
						margin-bottom: 72px;

					}
				.edu
					{
						padding: 0 0px 0 0;
					}

			}

		.text-major {
			border-top: 16px #fff solid;
			border-bottom: 16px #fff solid;
			width: 35%;
			height: 213px;
			span 
				{
					font-size: 2rem;
				}
		}
	}