//show

.show-img img
	{	
		max-width: 100%;
		min-height: auto;
	}

.main
	{
		float:left;
		width: 66.66666%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;

		header
			{
				position: relative;
				top: -8.9375rem;
				background: #fff;
				padding: 4.5rem 4.5rem 0 4.5rem;
				z-index: 100;
				width: 100%
			}
	}


.modal-info
	{
		h1
			{
				font-size: 5.875rem;
				margin: 0;
				font-style: italic;
			}

		h2
			{
				font-size: 1.5rem;
				margin: 0;
				font-weight: 300;
				line-height: 2.418rem;
				font-style: italic;

			&:after
				{
					content: " ";
					position: absolute;
					bottom:-2.25rem;
					left:0;
					width: 4.5rem;
					background: $black;
					height: 1px;
				}
			}
	}

.post
	{
		padding: 0rem 4.5rem 4.5rem 4.5rem;

		h3
			{
				text-transform: uppercase;
				font-size: 1.1875rem;


		
			}
		p
			{
				line-height: 1.612;
			}
	}

//modal
.modal-controls
	{
		position: fixed;
		background: #333;
		height: 100px;
		width: 100px;
		top: 0;
		right: 0;
		z-index: 201;
		display: none;
		visibility: hidden;

		&:after
			{
				position: absolute;
				font-family: "Lucida Sans Unicode";
				right: 0;
				top:0;
				content: "×";
				width: 100px;
				height: 100px;
				color: #fff;
				font-size: 90px;
				text-align: center;
			}

		&.on 
			{
				display: block !important;
				visibility: visible !important;
			}
	}

.modal-bg{
	background:#fff;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index: 101;
	display:none;
	visibility:hidden;
	height:1px;
	

	&.on 
		{
			display: block !important;
			visibility: visible !important;
			height:100%;
			top:0;
		}
}